<div class="edit">
<h1 class="edit-heading">Editing Book</h1>
<%= form_with model:@book, local: true do |f| %>
<% if @book.errors.any? %>
  <ul>
  <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
  <%= f.submit 'update book' %>
<% end %>
    <div class="edit-btn">
        <p class="btn-edit"><%= link_to "Show", book_path(@book) %></p>
        <p class="btn-edit"><%= link_to "Back", books_path %></p>
    <div>
</div>